<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>About-page</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../css/about.css'>
    <script src='main.js'></script>
</head>
<body>
    <nav>
        <div class="nav-bar">
            <a href="index.html">Home</a>
            <a href="about.html">About</a>
        </div>
    </nav>
    
    <div class="main-content">
         <h1>About GitHub</h1>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id sequi voluptatibus, illo incidunt est culpa quidem deserunt magni cum optio sit voluptas. Aperiam beatae odio, inventore tenetur soluta aut vero quae error! Velit illo deleniti possimus sit? Nemo fugiat hic laudantium dolorum numquam sunt placeat ad obcaecati quaerat maxime veniam provident quidem nostrum quisquam omnis laboriosam consectetur, illum unde. Ut recusandae minima maiores doloremque temporibus. Cumque nobis adipisci magni corrupti?</p>
         <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis magni nihil iure suscipit, rerum impedit corrupti quos odio optio ex at magnam enim atque itaque nesciunt, labore minus. Eaque et, beatae sint nulla asperiores id sunt provident iste vitae fugit.</p>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae et distinctio molestiae eveniet, praesentium nihil voluptas eius? Aperiam repudiandae hic nam unde excepturi earum optio eveniet ipsam dolores quo eos perferendis fugit a, dignissimos temporibus laborum autem placeat, quibusdam aspernatur quaerat mollitia, rerum cumque? Labore autem ab magni id minima deleniti animi! Reiciendis, fugiat, quis dolore eum minima quas hic neque cupiditate dolor est amet at dolorem necessitatibus reprehenderit architecto praesentium, suscipit voluptate! Aut, iste. Veritatis aperiam libero quibusdam minus?</p>
   </div>
</body>
</html>